<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../public/images/siteIcon.png" type="image/x-icon">
  <!-- <title><%= locals.title %></title> -->
  <title>CharteredPayRoll</title>
  <meta name="description" content="<%= locals.description %>">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="../../public/css/global.css">
  <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>
  
  <%- include('../partials/search.ejs')  %>
  <div>
    <%- include('../partials/header.ejs')  %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
  </div>  
  <script type="text/javascript" defer src="../../public/js/script.js"></script>
  <script src="../public/JS/jquery.min.js"></script>
  <script src="../../public/JS/bootstrap.bundle.js"></script>
  <script src="../../public/JS/bootstrap.min.js"></script>
  <script src="../../public/JS/global.js"></script>
</body>
</html>